---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Footer from "../components/Footer.astro";
import SpeakingCard from "../components/SpeakingCard.astro";
import BaseHead from "../components/BaseHead.astro";

const speakings = (await getCollection("speaking")).sort(
  (a, b) => b.data.eventDate.valueOf() - a.data.eventDate.valueOf(),
);

const futureTalks = speakings.filter(
  (s) => s.data.eventDate.valueOf() > Date.now(),
);

const pastTalks = speakings.filter(
  (s) => s.data.eventDate.valueOf() <= Date.now(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="bg-primary">
      <div class="py-12 sm:py-10">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h2
              class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
            >
              Upcoming Speaking Activities
            </h2>
          </div>
          <div class="mx-auto mt-16">
            {
              futureTalks.length === 0 ? (
                <p class="text-lg leading-8 text-gray-300 text-center">
                  Unfortunately, I don't have any upcoming speaking activities
                </p>
              ) : (
                <ul role="list" class="space-y-3">
                  {futureTalks.map((talk) => (
                    <SpeakingCard data={talk} />
                  ))}
                </ul>
              )
            }
          </div>
          <div class="mt-16 mx-auto max-w-2xl text-center">
            <h2
              class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
            >
              Past Speaking Activities
            </h2>
          </div>
          <div class="mx-auto mt-16">
            <ul role="list" class="space-y-3">
              {pastTalks.map((talk) => <SpeakingCard data={talk} />)}
            </ul>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
