---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <body class="bg-primary">
    <Header />
    <main>
      <div class="px-6 py-10 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7">
          <p class="text-base font-semibold leading-7 text-blue-600">
            Davide Imola &ndash; <FormattedDate date={pubDate} />
          </p>
          <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
            {title}
          </h1>

          <div class="mt-5 max-w-full prose prose-invert">
            <slot />
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-3xl">
        <script
          src="https://giscus.app/client.js"
          data-repo="davideimola/davideimola.dev"
          data-repo-id="R_kgDOKX6ZoQ"
          data-category="General"
          data-category-id="DIC_kwDOKX6Zoc4CaXXN"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="dark"
          data-lang="en"
          crossorigin="anonymous"
          async></script>
      </div>
    </main>
    <Footer />
  </body>
</html>
